* {
    margin: 0;
    padding: 0;
    justify-content:center;
    text-align: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    margin-top: 70px;
    font-size: 3em;
    background: linear-gradient(
      to right,
      rgb(255, 0, 0),
      red,
      yellow,
      orange,
      rgb(255, 145, 0)
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
p {
    color: blue;
    padding-left: 100px;
    padding-right: 100px;
    
}

#rectangle{
    width:200px;
    height:100px;
    background:red;
    margin: auto auto;
    margin-top: 20rem;
}